name: build-vsix

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '7.0.x'

      - name: Build VSIX
        run: |
          msbuild PublishExtension.sln /t:Rebuild /p:Configuration=Release

      - name: Upload VSIX
        uses: actions/upload-artifact@v4
        with:
          name: PublishExtension.vsix
          path: PublishExtension/bin/Release/*.vsix
